<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid19Map</title>
    <meta name="keywords" content="covid, coronavirus, corona, covid19, world, deaths">
</head>
<body style="background-color: red; background-image: url('covid19.png') ">

<center>
    <h2>Coronavirus global deaths map.</h2>
    <h4>(Map load will take a while)</h4>
</center>

<iframe id="covidmapframe"
        title=""
        width="100%"
        height="800px"
        src="/mapload">
</iframe>

</body>
</html>