<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid19Map</title>
    <meta content="covid, coronavirus, corona, covid19, world, deaths, death, ill, sick, global, world" name="keywords">
</head>
<body style="background-color: red">

<center>
    <h1 style="color: yellow">Coronavirus global deaths map.</h1>
    <h4 style="color: yellow">(Map load will take a while)</h4>

    <iframe id="covidmapframe"
            title=""
            width="100%"
            height="600px"

            src="/mapload"
            style="background-color: #cffccf">

        src="/mapload">

    </iframe>

</center>

</body>
</html>